---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: '42Summaries — Create easy Summaries',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get the app',
        href: 'https://apps.apple.com/de/app/42summaries/id6736508972?l=en-GB&mt=12',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#42summaries-features' },
    ]}
    image={{ src: '~/assets/images/hero1.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Create easy Summaries
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">42Summaries</span> Your Ultimate Audio and Video Transcription and
        Summarization Tool.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="short-overview"
    tagline="short Overview"
    title="What you get with 42Summaries"
    subtitle="Unlock the power of your audio and video content!"
    items={[
      {
        title: 'Effortless Transcription',
        description:
          'Transcribe your audio and video content with a simple and intuitive interface.',
        icon: 'tabler:microphone',
      },
      {
        title: 'Intelligent Summarization',
        description:
          'Get the most important parts of your audio and video content with our powerful summarization tool.',
          icon: 'tabler:align-box-left-middle',
      },
      {
        title: 'Privacy and Security',
        description:
          'All processing done locally on your machine. No data is sent to us.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Easy to Use',
        description:
          'A simple and intuitive interface makes it easy to transcribe and summarize your audio and video content.',
        icon: 'tabler:rocket',
      },
      {
        title: 'High Performance',
        description:
          "Our app is optimized for speed and performance. It's fast and efficient, ensuring a smooth user experience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Free and Open Source',
        description:
          'Our app is free and open source, allowing you to use it for free. You can also contribute to the development of the app.',
        icon: 'tabler:code',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="42summaries-features"
    tagline="42Summaries  Features"
    title="Make your audio and video content more engaging!"
    items={[
      {
        title: 'Format Support',
        description:
          'Supports a wide range of multimedia formats',
      },
      {
        title: 'Speech Recognition',
        description:
          'State-of-the-art speech recognition',
      },
      {
        title: 'Progress Tracking',
        description:
          'Real-time progress tracking with Notifications',
      },
    ]}
    image={{
      src: '~/assets/images/transcript.png',
      alt: 'Transcript Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Effortless Transcription</h3>
      Transcribe your audio and video content with a simple and intuitive interface.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Powered by Ollama, OpenAI and Anthropic',
        description: `Our AI models are designed to generate summaries that are both informative and engaging.`,
      },
      {
        title: 'Customizable summary length and focus',
        description:
          'Use a custom prompt to generate summaries of any length and focus on specific aspects of your content.',
      },
      {
        title: 'Key point extraction for quick insights',
        description:
          "Our AI models can identify key points and phrases that are essential to understanding the content.",
      },
      {
        title: 'Multi-language support',
        description: `Our AI models are designed to generate summaries in multiple languages, ensuring that your content is accessible to a wider audience.`,
      },
    ]}
    image={{
      src: '~/assets/images/summary.png',
      alt: 'Summary Image',
    }}
  >
    <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Intelligent Summarization</h3>
    Summary Generation with the power of AI and Natural Language Processing (NLP) techniques.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'All processing done locally on your machine',
        description:
          'No data is sent to us. All processing is done locally on your machine.',
      },
      {
        title: 'No Cloud Uploads or data sharing',
        description:
          'We do not store any of your data on our servers. We value your data privacy.',
      },
      {
        title: 'Offline Functionality for transcription and summarization',
        description:
          'You can use our app offline for transcription and summarization. No internet connection is required.',
      },
      {
        title: 'Free and Open Source',
        description: `Our app is free and open source, allowing you to use it for free. You can also contribute to the development of the app.`,
      },
    ]}
    image={{
      src: '~/assets/images/privacy.png',
      alt: 'Privacy Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Privacy and Security</h3>
      We value your privacy and security.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="get-started"
    title="Get your dream audio and video content up and running in no time with 42Summaries."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Download the app from the App Store. It's free!",
        icon: 'tabler:download',
      },
      {
        title: 'Step 2: <span class="font-medium">Install Ollama</span>',
        description:
          "Install Ollama and download a model. Use your terminal and run the following command: ollama pull llama3.2",
        icon: 'tabler:pencil-exclamation',
      },
      {
        title: 'Step 3: <span class="font-medium">Start the app</span>',
        description:'Start the app and follow the navigation to select the audio or video file you want to summarize, generate a summary and save it to your device.',
        icon: 'tabler:play',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/install.png',
      alt: 'Install Image',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faqs"
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that 42Summaries offers and how it can elevate your content understanding."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why 42Summaries?',
        description:
          "Use your own powerful hardware to generate summaries of your audio and video content. No need to pay for cloud services.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Install Ollama and download a model. Use your terminal and run the following command: ollama pull llama3.2',
      },
      {
        title: 'How to install Ollama?',
        description:
          "Download the ollama app from <a href=https://ollama.com/>Ollama</a> and follow the instructions. You can also use the command line to install ollama with brew install ollama",
      },
      {
        title: "Why is the app only available for MacOS?",
        description:
          "We want to provide the best experience for everyone. With Linux and Windows it's hard to provide a seamless experience, as we don't know the hardware used.",
      },
      {
        title: 'What is the app for?',
        description:
          "Transcription and summarization is a powerful tool for understanding audio and video content. It's a valuable skill for anyone who wants to learn more about the content they consume.",
      },
      {
        title: 'Why is the app free?',
        description:
          "We believe in the power of open source software. We value free knowledge sharing and collaboration. Our app is free and open source, allowing you to use it for free. You can also contribute to the development of the app.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '4' },
      { title: 'Stars', amount: '1' },
      { title: 'Forks', amount: '0' },
      { title: 'Reviews', amount: '0' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get the app',
        href: 'https://apps.apple.com/de/app/42summaries/id6736508972?l=en-GB&mt=12',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">42Summaries</span>
    </Fragment>

    <Fragment slot="subtitle">
      Get your copy now! <br class="hidden md:inline" />Don't wait - it's free!
    </Fragment>
  </CallToAction>
</Layout>
