<span class="self-center text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex items-center">
  <img src="/logo.png" alt="42Summaries Logo" class="w-20 h-20 mr-2" />
  Summaries
</span>